.container{
    width: 30%;
    margin: 0 auto 0 auto;
}

.ex4 a{
    color: #000;
    text-decoration: none;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
}

.capitulo{
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}

.red{
    color: #ff0000;
}

.green{
    color: #00ff00;
}

.tableJogos tr td{
    border: 1px solid #000;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.titulos td{
    font-weight: bold;
    background-color: #ffe4c4;
}

.lista{
    cursor: pointer;
    font-weight: bold;
}

.lista:hover .sublista{
    display: block;
}

.sublista{
    display: none;
}

.inputDados{
    border: none;
    border-bottom: 1px solid #a9a9a9;
    height: 20px;
}

.containerGeneros{
    padding: 20px;
}

.inputCheckBox{
    padding: 5px;
}

.inputCheckBox label{
    font-weight: bold;
    color: darkslategrey;
}

.btnSave input{
    border: none;
    color: #fff;
    background-color: rgba(0, 90, 0, 0.8);
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    margin-left: 30%;
}